*//  добавление строк
html,
body {
  height: 100%;
  margin: 0px;
}

li  { 
  border: 2px solid white;
  padding: 20px;
  background-color: Green;
  width: 50%;
  height:40%;
  align-content:
  
 }
 
.done {
  color: rgb(10, 10, 10)
}

 .cvet { 
   background: red;

 }

 .pickColor{
  float:left; 
  height: 44px; 
  width: 40px; 
 }

 #colorRed { 
  background: rgba(239, 83, 80, 0.85); 

 }
 #colorPink { 
  background:rgba(240, 98, 146, 0.85); 

 }

  #colorPurple {
    background:  rgba(126, 87, 194, 0.85)
  }

  #colorBlue {
    background: rgba(66, 165, 245, 0.85)
  }

  #colorBlu {
    background: rgba(77, 208, 225, 0.85)

  }

  #coloryellow {
    background: #ffe082
  }

 


 
 


 


 

  *//  добавление строк
  html,
  body {
    height: 100%;
    margin: 0px;
  }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.margin-t-b {
  margin: 10px 0;
  
}

h3 {
  margin: 5px
}

.container {
  padding: 15px 15px 0px 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  height: calc(100% - 80px);
}

#todo-input,
.addBtn {
  padding: 10px 0
}

ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: rgba(240, 98, 146, 0.85);
  font-size: 18px;
  transition: 0.2s;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */

ul li:nth-child(odd) {
  background:   rgba(239, 83, 80, 0.85);
 
}

/* Darker background-color on hover */



/* Style the close button */

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */

.header {
  background-color: rgb(219, 120, 120);
  color: white;
  padding: 20px 40px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 1px 6px 0 #5F5F5F;
  font-weight: 700;
}

.form-wrapper {
  padding: 20px;
  box-shadow: 0 1px 0px 0 rgb(71, 27, 27);
}

#todo-input {
  margin: 0;
  width: 60%;
  float: left;
  font-size: 16px;
  outline: none;
}

.form-wrapper>.addBtn {
  padding: 12px;
  width: 25%;
  background-color: rgb(13, 139, 122);
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  float: left;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
